<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210878123676-qn9f59fi35214pa5shprq8gq9g0t1g02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210878123676-qn9f59fi35214pa5shprq8gq9g0t1g02</string>
	<key>API_KEY</key>
	<string>AIzaSyBXqnM5LUDqoq6Xtxrawnvt9hpK62E_hmc</string>
	<key>GCM_SENDER_ID</key>
	<string>210878123676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>takafumi.Exam</string>
	<key>PROJECT_ID</key>
	<string>ios-exam-388401</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-exam-388401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:210878123676:ios:7a91180db97b9ee200e759</string>
</dict>
</plist>
